---
// import 'virtual:sugarcube/variables.css'
// import 'virtual:sugarcube/utilities.css'
// import 'virtual:uno.css'
import "virtual:sugarcube.css";
import BaseHead from "@/src/components/BaseHead.astro";
import SiteFooter from "@/src/components/SiteFooter.astro";
import SiteHeader from "@/src/components/SiteHeader.astro";
import { siteConfig } from "@/src/site.config";
import type { SiteMeta } from "@/src/types";

import "@/src/styles/index.css";
interface Props {
    meta: SiteMeta;
}

const {
    meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<!doctype html>
<html lang={siteConfig.lang}>
    <BaseHead
        articleDate={articleDate}
        description={description}
        ogImage={ogImage}
        title={title}
    />
    <body class="site-body grid grid-rows-[auto_1fr_auto]">
        <SiteHeader />
        <main>
            <slot />
        </main>
        <SiteFooter />
    </body>
</html>

<style>
    :root {
        --color-text-link: var(--color-text-normal);
    }
</style>

<script>
    import { initTooltipClickHide } from "@/registry/components/tooltip/js/tooltip";

    initTooltipClickHide();
</script>
