---
import type { HTMLAttributes } from "astro/types";
import { transform } from "ultrahtml";
import sanitize from "ultrahtml/transformers/sanitize";

const headingLevels = [1, 2, 3, 4, 5, 6, "1", "2", "3", "4", "5", "6"] as const;
interface Props extends HTMLAttributes<"h1"> {
    level: 1 | 2 | 3 | 4 | 5 | 6 | `${1 | 2 | 3 | 4 | 5 | 6}`;
    id: string;
}

const { level, id, ...attrs } = Astro.props;

if (!id) {
    throw new Error(
        `Missing \`id\` attribute passed to \`<AnchorHeading>\` component. The \`<AnchorHeading>\` component requires an \`id\` attribute, but received \`${typeof id === "string" ? '""' : id}\`.`
    );
}
if (!headingLevels.includes(level)) {
    throw new Error(
        `Invalid \`level\` attribute passed to \`<AnchorHeading>\` component. The \`<AnchorHeading>\` component expects a \`level\` attribute of \`1 | 2 | 3 | 4 | 5 | 6\`, but received \`${level}\`.`
    );
}

const HeadingElement = `h${level}` as const;
const headingHTML = await Astro.slots.render("default");
const headingString = await transform(headingHTML, [sanitize({ unblockElements: [] })]);
---

<div class={`anchor-heading level-h${level}`}>
    <HeadingElement {id} {...attrs} set:html={headingHTML} />
    <a
        class="anchor-link"
        href={`#${id}`}
        aria-label={`Link to ${headingString}`}
    >
        <span aria-hidden="true" class="anchor-icon">
            <svg width="16" height="16" viewBox="0 0 24 24">
                <path
                    fill="currentcolor"
                    d="m12.11 15.39-3.88 3.88a2.52 2.52 0 0 1-3.5 0 2.47 2.47 0 0 1 0-3.5l3.88-3.88a1 1 0 0 0-1.42-1.42l-3.88 3.89a4.48 4.48 0 0 0 6.33 6.33l3.89-3.88a1 1 0 1 0-1.42-1.42Zm8.58-12.08a4.49 4.49 0 0 0-6.33 0l-3.89 3.88a1 1 0 0 0 1.42 1.42l3.88-3.88a2.52 2.52 0 0 1 3.5 0 2.47 2.47 0 0 1 0 3.5l-3.88 3.88a1 1 0 1 0 1.42 1.42l3.88-3.89a4.49 4.49 0 0 0 0-6.33ZM8.83 15.17a1 1 0 0 0 1.1.22 1 1 0 0 0 .32-.22l4.92-4.92a1 1 0 0 0-1.42-1.42l-4.92 4.92a1 1 0 0 0 0 1.42Z"
                ></path>
            </svg>
        </span>
    </a>
</div>

<style>
    /* ======================================================
    WRAPPER
    ====================================================== */
    .anchor-heading {
        /* The size of the SVG icon */
        --anchor-icon-size: 0.8275em;
        /* The horizontal space between the SVG icon and the end of the heading text */
        --anchor-icon-gap: 0.25em;
        /* The end of line space required to accommodate the anchor link */
        --anchor-icon-space: calc(
            var(--anchor-icon-size) + var(--anchor-icon-gap)
        );

        line-height: var(--line-height-headings);
    }

    /* ======================================================
    HEADING
    ====================================================== */
    .anchor-heading > :first-child {
        display: inline;
        /* Apply end-of-line padding to the heading element */
        padding-inline-end: var(--anchor-icon-space);
        /* Control scroll position when anchor is clicked */
        scroll-margin-top: 1rem;
    }

    /* ======================================================
    LINK
    ====================================================== */
    .anchor-link {
        position: relative;
        /* Move the anchor link over the heading element's end-of-line padding */
        margin-inline-start: calc(-1 * var(--anchor-icon-size));
        /* Prevent double or triple clicks from potentially selecting the anchor link text */
        -webkit-user-select: none;
        user-select: none;
        color: var(--color-text-quiet);
        text-decoration: none;
    }

    /* Increase clickable area for anchor links */
    .anchor-link::after {
        content: "";
        position: absolute;
        inset: -0.25rem -0.5rem;
    }

    /* Size and position the SVG icon inside the link */
    .anchor-icon > svg {
        display: inline;
        width: var(--anchor-icon-size);
        /* Center the link icon SVG vertically in the line */
        vertical-align: top;
        transform: translateY(
            calc(
                (var(--line-height-headings) * 1em - var(--anchor-icon-size)) /
                    2
            )
        );
    }

    /* On devices with hover capability, hide the anchor link icons and show only when focused
    or when the heading is hovered */
    @media (hover: hover) {
        .anchor-link {
            opacity: 0;
        }
        .anchor-link:focus,
        .anchor-heading:hover .anchor-link {
            opacity: 1;
        }
    }

    /* Hide anchor link on mobile */
    @media (max-width: 768px) {
        .anchor-link {
            display: none;
        }
        .anchor-heading > :first-child {
            padding-inline-end: 0;
        }
    }
</style>
